# APP CONFIGURATION
APP_NAME="YUMS"
APP_ENV=development
DEBUG=True
PORT=8000
HOST=0.0.0.0

# MYSQL DATABASE CONFIGURATION - change to your info here
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=change_to_your_password
DB_NAME=mini_shop