# APP CONFIGURATION
APP_NAME="YUMS"
DEBUG=True
API_HOST=127.0.0.1
API_PORT=8000
API_RELOAD=True

# MYSQL DATABASE CONFIGURATION - change to your info here
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=change_to_your_password
DB_NAME=mini_shop